.button{
    -fx-background-color: #161d2a;
    -fx-border: none;
}

.button:hover{
    -fx-background-color: #2b3952;
}

.Pane{
    -fx-background-image: url("../resources/aiz_wallestein.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}